.navbar {
  background: #ffffff;
  position: absolute;
  width: 1440px;
  height: 100px;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  align-items: center;
  text-align: center;
}
.navbar .fintech_logo img{
    margin-left: 50px;
  position: absolute;
  width: 93.9px;
  height: 60px;
  left: 50px;
  top: 20px;
  cursor: pointer;
  /* medi */

}
.navbar .nav_links {
  position: absolute;
  width: 502px;
  height: 21px;
  left: 595px;
  top: 40px;

}
.nav_links .lab{
    margin-right: 30px;
    text-decoration: none;
    color: #1C1C1C;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #1C1C1C;
}
.navbar .call_btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 15px;
  position: absolute;
  width: 213px;
  height: 25px;
  left: 1090px;
  top: 28px;
  background: #0ab5f3;
  border-radius: 5px;
  cursor: pointer;
}
.navbar .call_btn p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
        
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
  }
  /* FOR MINI SIZES WIDTH<800----------------------- */
  .mini_call_btn{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px 16px;
position: absolute;
width: 136px;
height: 12px;
left: 156px;
top: 24px;
background: #0AB5F3;
border-radius: 5px;
align-items: center;
  }
  .mini_call_btn p{
    position: static;
width: 124px;
height: 16px;
left: 16px;
top: 8px;
font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 16px;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
  }
  .menu_item{
    position: absolute;
    width: 28px;
    height: 32px;
    left: 332px;
    top: 26px;
    cursor: pointer;
  }

  /* FOR PHONE SIZE----------------------------- */
@media screen  and (max-width:400px){
  .navbar{
    width: 375px;
    height: 80px;
  }
  .navbar .fintech_logo img{
    width: 62.6px;
height: 40px;
left: 14px;
margin-left: 1px;
  }

}