.App{
    position: relative;
    width: 1440px;
    height: 5517px;
    background: #FFFFFF;
    overflow-x: hidden;
    overflow-y: hidden;
}
@media only screen and (max-width:450px) {
    .App{
width: 410px;
height: 5950px;
    }
}